.header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #5c0101;
    color: white;
    font-size: 5vw;
    padding-bottom: 15px;
    font-family: "Montserrat";
    z-index: 100;
    position: fixed;

}
@media (max-width:900px) {
    .header{
        padding-top: 10px;
    }
}